@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("../styles/Fonts/circular-std-medium-500.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  font-family: "Circular Std";
}
/* page header */
.page-header {
  padding: 8rem 0;
  width: 100%;
  display: flex;
  background-attachment: fixed;
  background-image: linear-gradient(#000009c3, #000009c3),
    url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header h3 {
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  font-family: "Circular Std";
  text-align: center;
  color: #fff;
}

/* section three */
.section-three {
  width: 85%;
  margin: 0 auto;
  padding: 4rem 0 4rem 
}
.section-three h2 {
  font-size: 3rem;
  text-align: center;
  font-family: "Circular Std";
}

.section-three p {
  margin-bottom: 1.5rem;
  text-align: start;
  color: #717171;
  line-height: 2.4rem;
  font-size: 1.25rem;
  font-family: "Circular Std";
}
/* workers section  */
.team {
  width: 100%;
  margin: 0 auto;
}
.team h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Circular Std";
}
.workers-section {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  align-self: center;
}
.main {
  width: 250px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  background: #0000fe;
}
.main:hover {
  transform: translateX(0.4rem) translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image {
  width: 250px;
  height: 250px;
  padding: 1rem;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  text-align: center;
}
.book p {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  font-family: "Circular Std";
}
.book a {
  border: none;
  font-size: 14px;
  color: rgba(248, 244, 244, 0.83);
  font-family: "Circular Std";
}

@media screen and (max-width: 1024px) {
  .page-header p {
    width: 70%;
  }
  .page-header {
    padding: 8rem 0 6rem;
  }
  .core-info div {
    width: 45%;
  }
  .section-three {
    padding: 4rem 0 5rem 0;
  }
}

@media screen and (max-width: 768px) {
  .section-three {
    width: 90%;
  }
  .core-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  .section-three h2 {
    font-size: 2rem;
  }
  .core-info div {
    width: 90%;
  }
  .core-info div:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .core-info div h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .page-header {
    padding: 5.5rem 0 6rem;
  }
  .page-header p {
    width: 90%;
  }
  .page-header h3 {
    font-size: 35px;
  }
}
