@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@import url("http://fonts.cdnfonts.com/css/circular-std");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  font-family: "Circular Std", sans-serif;
}

/* page header */
.page-header {
  padding: 10rem 0 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0000fe;
  color: #fff;
  text-align: center;
  margin-top: 4em;
}
.page-header p {
  width: 50%;
  font-weight: 100;
  line-height: 30px;
  font-family: "Circular Std", sans-serif;
}
.page-header h3 {
  width: 70%;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0.4em;
  font-family: "Circular Std", sans-serif;
}

/* section two */
.section-two {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 6rem 0;
}
.section-two h3 {
  font-size: 2.1rem;
  line-height: 3.438rem;
  text-align: justify;
  font-family: "Circular Std", sans-serif;
}

/* section three */
.section-three {
  width: 85%;
  margin: 0 auto;
  padding: 4rem 0 15rem 0;
}
.section-three h2 {
  font-size: 3rem;
  text-align: center;
  font-family: "Circular Std", sans-serif;
}
.core-info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 5rem;
}
.core-info div {
  width: 38%;
}
.core-info div h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: "Circular Std", sans-serif;
}
.core-info div p {
  font-size: 1rem;
  line-height: 2rem;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
  font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 1024px) {
  .page-header p {
    width: 70%;
  }
  .page-header {
    padding: 8rem 0 6rem;
  }
  .section-two h3 {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .core-info div {
    width: 45%;
  }
  .section-three {
    padding: 4rem 0 8rem 0;
  }
}
@media screen and (max-width: 768px) {
  .section-two {
    width: 90%;
    padding: 3.3rem 0;
  }
  .section-three {
    width: 95%;
  }
  .core-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  .section-three h2 {
    font-size: 2rem;
  }
  .core-info div {
    width: 90%;
  }
  .core-info div:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .core-info div h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .page-header p {
    width: 90%;
  }
  .page-header h3 {
    font-size: 35px;
  }
  .section-two h3 {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }
}
