@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("../styles/Fonts/circular-std-medium-500.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  overflow-x: hidden;
}

.page-header {
  padding: 8rem 0;
  width: 100%;
  display: flex;
  background-attachment: fixed;
  background-image: linear-gradient(#000009c3, #000009c3),
    url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header h3 {
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  font-family: "Circular Std";
  text-align: center;
  color: #fff;
}
.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.section1,
.section2 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}
.top-news {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-news-img {
  width: 30vw;
}
.top-news-text {
  max-width: 60vw;
  padding: 0 2rem;
}
.top-news-text p {
  font-weight: 20;
  padding: 1rem 0;
  font-family: "Circular Std";
}
.poster-info {
  display: flex;
  align-items: center;
}
.poster-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -1rem;
}
.poster-info .text {
  font-family: "Circular Std";
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.poster-name {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #606060;
  font-family: "Circular Std";
}
.section2 {
  justify-content: space-evenly;
}
.p-news {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Circular Std";
}
.p-news-img {
  width: 100%;
}
.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 7px;
  height: 33px;
  max-width: max-content;
  background: rgba(0, 0, 254, 0.1);
  border-radius: 5px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #0000fe;
  margin: 1rem 0;
}
.p-news .desc {
  margin: 1rem 0;
  font-weight: 20;
  font-family: "Circular Std";
}
.p-news .poster-info {
  margin: 2rem 0;
}
@media screen and (max-width: 900px) {
  body .navbar .menu-line {
    background-color: #fff;
  }
  body nav a {
    color: #0000fe;
  }
  body nav a:hover{
    color: #0000fe;
  }
}
@media screen and (max-width: 700px) {
  .page-header p {
    width: 90%;
    font-weight: 100;
    font-size: 15px;
  }
  .page-header h3 {
    width: 70%;
    font-family: Circular Std;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.7em;
  }
  .section1,
  .section2 {
    flex-direction: column;
  }
  .top-news {
    flex-direction: column;
  }
  .top-news-img {
    width: 80vw;
  }
  .top-news-text {
    max-width: 90vw;
    padding: 0;
  }
  .top-news-text h1 {
    font-size: 1rem;
  }
  .top-news-text p {
    font-size: 0.7rem;
  }
  .p-news {
    max-width: 90vw;
  }
  .page-header p {
    width: 90%;
  }
  .page-header h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 500px) {
  .page-header p {
    width: 90%;
  }
  .page-header h3 {
    font-size: 35px;
  }
  .page-header{
    padding: 5.5rem 0 6rem;
  }
}