@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("../styles/Fonts/circular-std-medium-500.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-header {
  padding: 10rem 0 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  text-align: center;
  margin-top: 4em;
}
.page-header p {
  width: 50%;
  font-weight: 100;
  line-height: 30px;
  font-family: "Circular Std";
}
.page-header h3 {
  width: 70%;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0.4em;
  font-family: "Circular Std";
}

/* form section  */
.contact {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-banner {
  min-height: 40rem;
  position: relative;
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: column;
  background: #000000;
  justify-content: center;
  align-items: center;
}
.contact-banner h6 {
  color: #0000fe;
  font-size: 1.25rem;
  text-align: justify;
  width: 90%;
}
.contact-banner h2 {
  font-weight: 700;
  width: 90%;
  font-size: 2.8rem;
  line-height: 3.438rem;
  text-align: justify;
  color: white;
  font-family: "Circular Std";
}
.contact-banner img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.contact-form {
  width: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.contact-form form input {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  font-family: "Circular Std";
}
#message {
  padding: 1.5rem;
  resize: none;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 0.7rem;
}
.contact-form form button {
  padding: 1.5rem;
  background: #000;
  border: none;
  margin-top: 2rem;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #000;
  transition: 0.5s ease-in;
  font-size: 1.25rem;
  font-family: "Circular Std";
  cursor: pointer;
}
.contact-form form button:hover {
  background: #fff;
  color: #000;
}
.contact-form form input::placeholder,
#message::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Circular Std";
}
.contact h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  display: none;
  font-family: "Circular Std";
}
.contact-form form label {
  font-size: 1rem;
  font-family: "Circular Std";
}

@media screen and (max-width: 1024px) {
  .page-header p {
    width: 70%;
  }
  .page-header {
    padding: 8rem 0 6rem;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
  .contact-banner {
    display: none;
  }
  .contact h3 {
    display: block;
  }
  .contact-form {
    width: 90%;
    border: 5px solid #0000fe;
    border-radius: 10px;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .page-header {
    padding: 5.5rem 0 6rem;
  }
  .contact-form {
    width: 100%;
    margin: 0 auto;
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
  .page-header h3 {
    width: 90%;
    font-size: 35px;
  }
  .page-header p {
    width: 90%;
  }
  .contact h3 {
    font-size: 1.6rem;
  }
  form button {
    padding: 1rem;
    font-size: 1rem;
  }
}
