@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@import url("http://fonts.cdnfonts.com/css/circular-std");
body{
  font-family: Circular std;
}
.page-header{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3858FF;
  color: #fff;
  text-align: center;
  margin-top: 4em;
}
.page-header p{
  width: 50%;
  font-weight: 100;
}
.page-header h3{
  width: 70%;
  font-family: Circular Std;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0.7em;  
}
.contact{
  width: 100vw;
  height: auto;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-banner{
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #3858FF;
  justify-content: center;
  text-align: left;
  padding-left: 3rem;
  align-items:left;
  color: white;
  overflow: hidden;
}
.contact-banner h6{
  margin-bottom: .5rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
}
.contact-banner img{
  margin-bottom: -15rem;
  margin-left: -3rem;
  width: 10rem;
}
.contact-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 80%;
}
#full-name,#e-mail{
  height: 3em;
}
input{
  border: black 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-top: 1rem;
}
label{
  margin-top: 1rem;
}
#message{
  min-height: 5rem;
  text-align: start;
}
#send-btn{
  height: 2rem;
  background-color: black;
  color: white;
}
@media screen and (max-width:900px) {
  .page-header p{
      width: 90%;
      font-weight: 100;
      font-size: 15px;
  }
  .page-header h3{
      width: 70%;
      font-family: Circular Std;
      font-size: 2em;
      font-weight: 400;
      margin-bottom: 0.7em;  
  }
  .contact{
    padding: 10rem 1rem;
  }
}
@media screen and (max-width:600px) {
  .contact{
    flex-direction: column;
  }
  .contact-banner{
    height: 300px;
  }
}