@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("../styles/Fonts/circular-std-medium-500.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

.page-header {
  padding: 8rem 0;
  width: 100%;
  display: flex;
  background-attachment: fixed;
  background-image: linear-gradient(#000009c3, #000009c3),
    url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header h3 {
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  font-family: "Circular Std";
  text-align: center;
  color: #fff;
}
/* Accordion section */
.faq {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}
.accordion {
  width: 50%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.accordion-text p {
  font-family: "Circular Std";
  color: #524f4f;
}
.accordion:hover .accordion-text p {
  color: #0000fe;
}
.open {
  height: 245px;
}
.accordion-header {
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion-text {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
.accordion-btn {
  text-align: center;
  height: 1.5em;
  width: 1.5em;
  color: #bbb;
  font-weight: bold;
  border: 2px solid #bbbbbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion:hover .accordion-btn {
  border: 2px solid #0000fe;
  color: #0000fe;
}
.accordion:hover .accordion-body p {
  color: #524f4f;
}
.accordion-body {
  width: 90%;
}
.accordion-body p {
  text-align: justify;
  font-family: "Circular Std";
  color: #524f4f;
}
@media screen and (max-width: 1024px) {
  .page-header p {
    width: 70%;
  }
  .page-header {
    padding: 8rem 0 6rem;
  }
  .accordion {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .accordion {
    width: 90vw;
  }
  .accordion-text p {
    width: 85%;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .page-header h3 {
    width: 90%;
    font-size: 35px;
  }
  .page-header {
    padding: 5.5rem 0 6rem;
  }
  .page-header p {
    width: 90%;
  }
}
