@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@import url("http://fonts.cdnfonts.com/css/circular-std");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-header {
  padding: 10rem 0 10rem;
  font-family: "Circular Std", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0000fe;
  color: #fff;
  text-align: center;
  margin-top: 4em;
}
.page-header p {
  width: 50%;
  font-weight: 100;
  line-height: 30px;
}
.page-header h3 {
  width: 70%;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0.4em;
}
/* Accordion section */
.faq {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}
.accordion {
  width: 50%;
  height: 70px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.accordion:hover {
  background-color: #0000fe;
}
.accordion:hover .accordion-text p {
  color: #fff;
}
.open {
  height: 245px;
}
.accordion-header {
  min-height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000005;
}
.accordion-text {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
.accordion-btn {
  text-align: center;
  height: 1.5em;
  width: 1.5em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion:hover .accordion-btn {
  border: 2px solid white;
  color: #fff;
}
.accordion:hover .accordion-body {
  color: #fff;
}
.accordion-body {
  text-align: justify;
  width: 90%;
}
@media screen and (max-width: 1024px) {
  .page-header p {
    width: 70%;
  }
  .page-header {
    padding: 8rem 0 6rem;
  }
  .accordion {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .accordion {
    width: 90vw;
  }
  .accordion-text p {
    width: 85%;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .page-header h3 {
    width: 90%;
    font-size: 35px;
  }
  .page-header p {
    width: 90%;
  }
}
