@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: #fff;
  margin: 0 auto;
  display: flex;
  width: 85%;
  justify-content: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  padding: 63px 0;
}
.column h4 {
  font-size: 1.5rem;
}
.column a {
  margin-top: 20px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 7.2rem;
  width: 100%;
  align-content: center;
  margin: 0 auto;
  overflow: hidden;
}
.footer a {
  color: #000000;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}
.footer p {
  line-height: 35px;
}
.footer h4 {
  color: #000000;
  margin-bottom: 30px;
}
.socials a {
  background: #ebeeff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.socials a:not(:last-of-type) {
  margin-right: 20px;
}
.socials {
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
}
footer .help {
  margin-top: 37px;
}
@media screen and (max-width: 1024px) {
  footer {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
