@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("../styles/Fonts/circular-std-medium-500.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-header {
  padding: 8rem 0;
  width: 100%;
  display: flex;
  background-attachment: fixed;
  background-image: linear-gradient(#000009c3, #000009c3),
    url(../images/bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header h3 {
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  font-family: "Circular Std";
  text-align: center;
  color: #fff;
}
/* section two */
.section-two {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 0;
}
.section-two h3 {
  font-size: 1.85rem;
  line-height: 3.438rem;
  text-align: justify;
  font-family: "Circular Std";
}
.history {
  width: 85%;
  margin: 0 auto;
  padding: 5rem 0;
}
.history p {
  margin-bottom: 1.5rem;
  text-align: justify;
  color: #717171;
  line-height: 2.4rem;
  font-size: 1.25rem;
  font-family: "Circular Std";
}
@media screen and (max-width: 1024px) {
  .page-header p {
    width: 70%;
  }
  .page-header {
    padding: 8rem 0 6rem;
  }
  .section-two h3 {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

@media screen and (max-width: 768px) {
  .history p {
    font-size: 1rem;
    line-height: 1.9rem;
  }
  .section-two {
    width: 90%;
    padding: 3.3rem 0;
  }
}
@media screen and (max-width: 500px) {
  .page-header p {
    width: 90%;
  }
  .page-header {
    padding: 5.5rem 0 6rem;
  }
  .page-header h3 {
    font-size: 35px;
  }
  .section-two h3 {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }
  .section-two {
    padding: 4rem 0 0rem 0;
  }
}
