@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@import url("http://fonts.cdnfonts.com/css/circular-std");

/* general styles */
body {
  font-family: "Circular Std", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main,
.hero-section,
.about-section,
.usage-section {
  margin: 0 auto;
}
/* Hero section  */

.hero-section {
  width: 85%;
  padding: 10rem 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-info {
  flex-basis: 40%;
}
.hero-info h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-info p {
  line-height: 2rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.7);
}
.hero-info a {
  text-decoration: none;
}
.hero-info button {
  background: #fff;
  border: 2px solid #0000fe;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #0000fe;
  cursor: pointer;
}
.hero-image {
  flex-basis: 40%;
}
.hero-image img {
  width: 100%;
}

/* About section  */

.about-section {
  background: #f5f5f5;
  padding: 3.063rem 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section div {
  flex-basis: 60%;
  line-height: 2rem;
  text-align: justify;
  color: #181818;
}

/* Usage section  */

.usage-section {
  width: 85%;
  padding: 4.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  flex-wrap: wrap;
}
.usage-section div {
  flex-basis: 25%;
}
.usage-info h3 {
  color: #0000fe;
  margin-bottom: 1rem;
}
.usage-info p {
  line-height: 1.7rem;
  color: rgba(0, 0, 0, 0.8);
}

/* Roles section  */
.roles-section {
  width: 85%;
  padding: 4.25rem 0 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
  flex-wrap: wrap;
}
.roles-section div:not(:last-of-type) {
  margin-bottom: 3rem;
}
.frame-container {
  position: relative;
  width: 40%;
  height: 29.375rem;
}
.roles-info {
  width: 40%;
}
.roles-info a {
  background: #0000fe;
  border-radius: 1.875rem;
  padding: 1rem 2rem;
  color: #fff;
}
.roles-info h3 {
  font-size: 1.875rem;
  line-height: 60px;
  letter-spacing: -0.305053px;
  color: #000000;
}
.roles-info p {
  font-size: 1.2rem;
  line-height: 1.875rem;
  letter-spacing: -0.305053px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
  text-align: justify;
}
.outer-frame {
  width: 100%;
  background: #c4c4c4;
  border-radius: 10px;
  height: 100%;
}
.outer-frame > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.inner-frame {
  width: 100%;
  border: 5px solid #0000fe;
  border-radius: 15px;
  position: absolute;
  z-index: -2;
  right: -1.25rem;
  top: 1.25rem;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .hero-info {
    flex-basis: 50%;
  }
  .hero-image {
    flex-basis: 40%;
  }
  .about-section {
    padding: 3.063rem 5rem;
  }
  .about-section div {
    flex-basis: 70%;
  }
  .usage-section div {
    flex-basis: 40%;
    margin-bottom: 2rem;
  }
  .frame-container {
    position: relative;
    width: 45%;
    height: 25rem;
  }
  .roles-info {
    width: 45%;
  }
  .roles-info p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    width: 90%;
  }
  .hero-info {
    margin-bottom: 2.5rem;
  }
  .hero-image {
    align-self: flex-start;
  }
  .about-section {
    flex-direction: column;
    text-align: center;
    padding: 3.063rem 0;
  }
  .about-section h2 {
    margin-bottom: 2rem;
  }
  .about-section div {
    line-height: 1.8rem;
    width: 90%;
  }
  .usage-section {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
  .usage-info h3 {
    margin-bottom: 0.5rem;
  }
  .rows {
    flex-direction: column;
    margin: 0 auto;
  }
  .rows-reverse {
    flex-direction: column-reverse;
    padding-top: 2rem;
  }
  .rows-reverse .frame-container {
    margin-bottom: 2.5rem;
  }
  .roles-info {
    text-align: center;
  }
  .roles-info h3 {
    font-size: 1.5rem;
  }
  .frame-container {
    width: 65%;
    height: 20rem;
  }
  .roles-info {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .hero-info h1 {
    font-size: 1.9rem;
  }
  .hero-info p {
    line-height: 1.8rem;
    color: #6f6c6c;
  }
  .hero-info a {
    text-decoration: none;
  }
  .hero-info button {
    width: 100%;
  }
  .frame-container {
    width: 100%;
    margin: 0 auto;
  }
  .inner-frame {
    right: -0.5rem;
    top: 0.5rem;
  }
}
