@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("../styles/Fonts/circular-std-medium-500.ttf");
}

/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular Std";
}
main,
.hero-section,
.about-section{
  margin: 0 auto;
}
html,
body {
  overflow-x: hidden;
}

/* Hero section  */
.hero {
  width: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(#000009c3,#000009c3),url(../images/New-Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-section {
  width: 90%;
  padding: 10rem 0 10rem;
}

.hero-section h1 {
  font-size: 2.8rem;
  margin: 1rem 0;
  font-family: "Circular Std";
  color: #fff;
  width: 45%;
}
.hero-section p {
  line-height: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  font-family: "Circular Std";
  width: 70%;
  text-align: left;
}

.hero-section p a {
  text-decoration: none;
  font-family: "Circular Std";
  color: #0000fe;
}
/* Roles section  */
.roles-section {
  width: 85%;
  padding: 4.25rem 0 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
  flex-wrap: wrap;
}
.roles-section div:not(:last-of-type) {
  margin-bottom: 3rem;
}
.frame-container {
  position: relative;
  width: 40%;
  height: 29.375rem;
}
.roles-info {
  width: 40%;
}
.roles-info a {
  border-radius: 1.875rem;
  padding: 1rem 2rem;
  color: #fff;
  font-family: "Circular Std";
  transition: 0.43s ease-out;
  text-decoration: none;
}
.roles-info h3 {
  font-size: 1.875rem;
  line-height: 60px;
  letter-spacing: -0.305053px;
  color: #000000;
  font-family: "Circular Std";
}
.roles-info p {
  font-size: 1.2rem;
  line-height: 1.875rem;
  letter-spacing: -0.305053px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
  text-align: justify;
  font-family: "Circular Std";
}
.outer-frame {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.outer-frame > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.frame-color-1 {
  border: 5px solid #0000fe;
}
.frame-color-2 {
  border: 5px solid #ff6202;
}
.frame-color-3 {
  border: 5px solid #000000;
}
.color-1 {
  background: #0000fe;
  border: 1px solid #0000fe;
}
.color-2 {
  background: #ff6202;
  border: 1px solid #ff6202;
}
.color-3 {
  background: #000000;
  border: 1px solid #000000;
}
.roles-info .color-1:hover {
  background: #fff;
  color: #0000fe;
}
.roles-info .color-2:hover {
  background: #fff;
  color: #ff6202;
}
.roles-info .color-3:hover {
  background: #fff;
  color: #000000;
}
.inner-frame {
  width: 100%;
  border-radius: 15px;
  position: absolute;
  z-index: -2;
  right: -1.25rem;
  top: 1.25rem;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    width: 90%;
  }
  .hero-section h1 {
    font-size: 2.1rem;
  }
  .hero-section p{
    width: 100%;
  }
  .frame-container {
    position: relative;
    width: 45%;
    height: 25rem;
  }
  .roles-info {
    width: 45%;
  }
  .roles-info p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    width: 90%;
  }

  .hero-section h1 {
    width: 95%;
  }
  .hero-image {
    align-self: flex-start;
  }
  .rows {
    flex-direction: column;
    margin: 0 auto;
  }
  .rows-reverse {
    flex-direction: column-reverse;
    padding-top: 2rem;
  }
  .rows-reverse .frame-container {
    margin-bottom: 2.5rem;
  }
  .roles-info {
    text-align: center;
  }
  .roles-info h3 {
    font-size: 1.5rem;
  }
  .frame-container {
    width: 65%;
    height: 20rem;
  }
  .roles-info {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .hero-section p {
    line-height: 1.8rem;
    width: 100%;
  }
  .hero-section h1 {
    margin: 0.8rem 0;
    width: 100%;
    font-size: 1.8rem;
  }
  .hero-section {
    padding: 8rem 0 6rem;
  }
  .frame-container {
    width: 100%;
    margin: 0 auto;
  }
  .inner-frame {
    right: -0.5rem;
    top: 0.5rem;
  }
}

