@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap');



/* general styles */
body{
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}

/* navbar styles */
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5em;
    left: 0px;
    top: 0px;
    color: white;
    padding-top: 10px;
    transition: 0.5s;
    z-index: 5;
}
.contact-button{
    width: 200px;
    height: 3rem;
    background: transparent;
    border-radius: 30px;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in-out;
}
.contact-btn-bg{
    width: 200px;
    height: 3rem;
    background-color: #0000FE;
    border-radius: 30px;
    position: absolute;
    z-index: -1;
    transition: 1s ease-in-out;
}
/* activates when the page is scrolled past 100px */
.scrolled{
    background: white;
    color: black;
}
.logo{
    width: 10%;
    height: 4rem;
    background: url(../images/LOGO.png);
    background-repeat: no-repeat;
}
.menu-holder{
    display: flex;
    justify-content: space-around;
}
.menu{
    font-size: 0.8em;
    margin: 3em;
    color: white;
    
}
.menu hr{
    transform: scale(0);
    transition: 0.5s ease-in-out;
}
.contact-button{
    width: 200px;
    height: 3rem;
    background: #0000FE;
    border-radius: 30px;
    border: none;
    color: white;
}
.hero-section{
    min-height: 100vh;
    width: 100%;
    background: url(../images/BG.png);
    background-position: center;
    background-size: contain;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0px ;
    margin-top: -10px;
}
.hero-svg{
    background: url(../images/hero-svg.svg);
    position: absolute;
    width: 775px;
    height: 717px;
    left: -292px;
    top: -210px;
    opacity: 0.7;
    border-radius: 50%;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 40%;
    padding-top: 2em;
}
.hero-text h4{
    color: #0000FE;
    margin-bottom: -20px;
    font-style: italic;
    font-weight: 700;
    
}
.hero-section h1{
    max-width: 550px;
    max-height: 112px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 170%;
    line-height: 56px;
    color: #FFFFFF;
}
.hero-section h3{
    width: 100%;
    height: 107px;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 35px;
    color: white;
}
.hero-section button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    width: 50%;
    height: 46px;
    background: #0000FE;
    margin-top: 10vh;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    border: none;
}
.hero-image{
    width:40%;
    height: 60vh;
    background: url(../images/header-image.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 80px;
}

/* adds animation when element is in view */
/* .inview{
    animation: inview 1s forwards ease-in-out;
  }
  
  @keyframes inview {
    from{
      transform: translateY(180px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  } */
.about-lcuna{
    display: flex;
    background: #F5F5F5;
    height: 350px;
    justify-content: space-evenly;
    align-items: center;
}
.lcuna-description{
    max-width: 60%;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 35px;
    text-align: justify;
    color: #181818;
}
.sections{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em;
}
.section{
    height: auto;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-title{
    font-family: 'jost';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #0000FE;
    margin: 12px;
}
.section-body{
    font-family: 'jost';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-bottom: 5em;
}
.infos{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
}
.info-img{
    width: 40vw;
    margin-left: 0;
    margin: 3em;
    height: auto;
    position: relative;
}
.info-frame{
    width: 100%;
    height: 24em;
    border: 5px solid #0000FE;
    border-radius: 1em;
    position: absolute;
    z-index: -2;
    margin: 20px;
}
@media screen and (min-width:1200px) {
    .info-img{
        width: 24em;
    }
    .info-frame{
        width: 24em;
    }
}
.info-image{
    width: 100%;
    height: 24em;
    background: #C4C4C4;
    border-radius: 10px;

}
.info-desc{
    max-width:30vw;
    padding: 2em;
    text-align: left;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.info-title{
    font-family: 'jost';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.305053px;
    color: #000000;
}
.info-body{
    max-width: 25em;
}
.info-button{
    margin-top: 30px;
    width: 200px;
    height: 60px;
    background: #0000FE;
    border: 2px solid #0000FE;
    border-radius: 30px;
    color: white;
}

.infos:nth-child(even){
    flex-direction: row-reverse;
}
