@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@import url("http://fonts.cdnfonts.com/css/circular-std");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Circular Std", sans-serif;
}
.page-header {
  padding: 10rem 0 10rem;
  font-family: "Circular Std", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0000fe;
  color: #fff;
  text-align: center;
  margin-top: 4em;
}
.page-header p {
  width: 50%;
  font-weight: 100;
  line-height: 30px;
}
.page-header h3 {
  width: 70%;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0.4em;
}
/* workers section  */
.workers-section {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  align-self: center;
}
.main {
  width: 250px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.main:hover {
  transform: translateX(0.4rem) translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image {
  width: 250px;
  height: 250px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  text-align: center;
}
.book p {
  font-weight: 700;
  font-size: 14px;
  color: #2a2a2a;
  margin-bottom: 10px;
}
.book a {
  border: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1024px) {
  .page-header p {
    width: 70%;
  }
  .page-header {
    padding: 8rem 0 6rem;
  }
}
@media screen and (max-width: 768px) {
  .workers-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .main {
    width: 250px;
  }
  .image {
    width: 250px;
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .page-header p {
    width: 90%;
  }
  .page-header h3 {
    font-size: 35px;
  }
}
