@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Jost:ital,wght@0,300;0,700;1,200&display=swap");
@import url("http://fonts.cdnfonts.com/css/circular-std");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Circular std;
  }
.page-header{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3858FF;
    color: #fff;
    text-align: center;
    margin-top: 4em;
}
.page-header p{
    width: 50%;
    font-weight: 100;
}
.page-header h3{
    width: 70%;
    font-family: Circular Std;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0.7em;  
}
.media-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.media-holder{
    padding: 5em 0em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* .media-image{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.media-holder img{
    width: 25vw;
}
@media screen and (max-width:900px) {
    .page-header p{
        width: 90%;
        font-weight: 100;
        font-size: 15px;
    }
    .page-header h3{
        width: 70%;
        font-family: Circular Std;
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 0.7em;  
    }
    .media-text{
        text-align: center;
        font-size: 0.5rem;
        max-width: 70%;
        margin-top: 1rem;
    }
    .media-holder{
        padding: 2em 0em;
    }
}