@font-face {
  font-family: "Circular Std";
  src: url("../styles/Fonts/circular-std-medium-500.ttf");
}

/* general styles */

a {
  text-decoration: none;
  color: black;
  font-family: "Circular Std";
}

/* navbar styles */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 1rem 0;
  background-color: #fff;
}
header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
nav {
  width: 45%;
}
.menu-button {
  display: none;
}
nav a {
  transition: transform 1s ease-in-out;
  font-family: "Circular Std";
}
nav a:hover {
  color: #0000fe;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
}
@media screen and (max-width: 1088px) {
  header {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    padding: 0.7rem 0;
  }
  header {
    width: 90%;
  }
  header img {
    width: 55px;
    height: 55px;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 29px;
    text-align: center;
    height: 0;
    width: 100vw;
    overflow: hidden;
    transition: 0.7s ease-in-out;
    justify-content: flex-start;
    align-items: center;
    justify-self: end;
    margin-top: 3em;
  }
  nav li {
    padding: 1.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  nav a {
    color: #0000fe;
  }
  nav {
    width: auto;
    height: auto;
    padding: 0rem 1rem;
    width: 100vw;
    justify-content: end;
    display: flex;
  }
  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 2px;
    transition: 1s ease-in-out;
  }
  .menu-line {
    width: 100%;
    border-radius: 50px;
    height: 5px;
    width: 30px;
    background-color: #0000fe;
    transition: 0.5s;
  }
  .clicked:nth-child(1) {
    transform: rotate(45deg);
  }
  .clicked:nth-child(2) {
    display: none;
  }
  .clicked:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -10px;
  }
  .show {
    height: 100vh;
    background: #fff;
    justify-content: flex-start;
    align-items: center;
  }
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.dropbtn::after {
  content: url(../images/down-white.svg);
  margin-left: 5px;
}
