@import url("http://fonts.cdnfonts.com/css/circular-std");

/* general styles */
body{
  font-family: "Circular Std", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

/* navbar styles */
header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
nav{
    width: 50%;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}

